
<section id="todoapp">
  <header id="header">
    {{#if class.header.show}}
      <input type="text" id="new-todo" onkeydown={{action 'createTodo'}} placeholder="מה תרצה לעשות?" autofocus>
    {{else}}
      <span class="title">משימות</span>
      <button onclick={{action 'showInput'}}><span class="circle">+</span></button>
    {{/if}}
  </header>
  {{#if model.length}}
    <ul id="todo-list" class="todo-list">
      {{#each model as |todo index|}}
      <div class="{{if (gt todo.active 1) "view" "view complited"}}">
        <span class="update" onclick={{action 'updateTodo' todo}}></span>
        <span class="node"><strong class="index">{{increment index 1}}.</strong>{{todo.title}}</span>
        <span class="delete" onclick={{action 'removeTodo' todo}}>X</span>
      </div>
      {{/each}}
    </ul>
    <div class="footer">
      <span>לסיום: <strong>{{todo model}}</strong></span>
      <span>הושלמו: <strong>{{complited model}}</strong></span>

      <span>סה"כ: <strong>{{model.length}}</strong></span>
    </div>
  {{/if}}
</section>
